{{!< sharedTemplate}}

<div class="main-body pure-g">
    <div class="pure-u-1-24 pure-u-md-1-12 pure-u-xl-1-8">
      <!-- Left reserved space -->
    </div>
    <div class="pure-u-11-12 pure-u-md-5-6 pure-u-xl-3-4">
      {{{body}}}
    </div>
    <div class="pure-u-1-24 pure-u-md-1-12 pure-u-xl-1-8">
      <!-- Right reserved space -->
    </div>
</div>

