{{#section 'stylesheets'}}
    <link href="/static/css/compiled/views/resume.css" rel="stylesheet" />
{{/section}}

<div id="resume">
    <div class="page">
        <table class="brand">
            <tr>
                <td>        
                    <img class="logo" src="static/img/me/csmLogoBlue.png" />
                </td>
                <td>
                    <div class="name">
                        Curtis Merrell
                    </div>
                    <div class="title">
                        Front End Web Developer&nbsp;&nbsp;|&nbsp;&nbsp;UI/UX Engineer
                    </div>
                </td>
            </tr>
        </table>
        <hr/>
        <div class="top-details">
            <img class="sitelink-backing" src="static/img/design/sitelinkBacking.svg" />
            <a href="https://csmerrell.com" class="sitelink">https://csmerrell.com</a>
            <span class="sitelink-ad">
                A sample VueJS app showcasing a breadth of frontend development skills.
            </span>
            <span class="contact">
                <span class="fa fa-phone"></span>
                (801) 717-5897
                &nbsp;&nbsp;&nbsp;
                <span class="fa fa-envelope"></span>
                Curtis.merrell@gmail.com
            </span>
        </div>
        <table class="resume-body">
            <tr>
                <td class="history" colspan="3" >
                    <div class="block">
                        <div class="header">Experience</div>
                        <div class="employer">Naval Air Weapons Station<span class="location">, China Lake, CA</span></div>
                        <div class="job-title">Lead Front End Developer&nbsp;&nbsp;|&nbsp;&nbsp;UI/UX Architect</div>
                        <div class="dates">Feb 2017 - Present</div>
                        <ul class="job-details">
                            <li>Inventory, Scheduling, & Role Management web applications.</li>
                            <li>VueJs Component design & maintenance.</li>
                            <li>Wrote and Iterated Sass / PureCss style libraries.</li>
                            <li>C# / ASP.Net Core server. Designed and oversaw all REST delivery API. </li>
                            <li>All source code peer reviewed in Git SCM.</li>
                            <li>Regularly trained employees into front end development practices.</li>
                        </ul>
                    </div>
                </td>
                <td class="skills">

                </td>
            </tr>
        </table>
    </div>

</div>