{{!< docsHeader }}
<h1 id="pure-css--css-heavy-design">Pure CSS &amp; CSS-heavy Design</h1>
<p>Pure CSS is both a <a href="https://purecss.io/">Bootstrap-like style library</a>, and a school of thought for replacing scripted behaviors with scriptless, CSS-driven behaviors.</p>
<p>Pure CSS web interactions can often be heavily optimized, when compared to their scripted counterparts, and I think there&#39;s value to be had in leveraging all of the browser&#39;s implicit processes to our advantage.</p>
<h2 id="this-is-not-a-novel-concept">This is not a novel concept</h2>
<p>When done right, Pure CSS design ideology doesn&#39;t look like anything noteworthy. It just looks like a clean implementation. Take this sample validated form, for example:</p>
<pre><code class="language-html">&lt;!-- All classes below are strictly for behavioral purposes --&gt;
&lt;form action=&quot;/submit&quot;&gt;
    &lt;div&gt;
        &lt;label for=&quot;fname&quot;&gt;Full Name:&lt;/label&gt;
        &lt;input type=&quot;text&quot; placeholder=&quot;Enter your name&quot; required&gt;
        &lt;span class=&quot;form-error&quot;&gt;Name is required&lt;/span&gt;
    &lt;/div&gt;
    &lt;div&gt;
        &lt;label for=&quot;fname&quot;&gt;Phone Number:&lt;/label&gt;
        &lt;input type=&quot;text&quot; pattern=&quot;[0-9]{10}&quot;&gt;
        &lt;span class=&quot;form-error&quot;&gt;Phone number must be 10 numbers&lt;/span&gt;
    &lt;/div&gt;
&lt;/form&gt;</code></pre>
<p>Using just the single <code>form-error</code> class, let&#39;s add some functionality with only scss:</p>
<pre><code class="language-scss">form {
    .form-error {
        display: none;
        color: red;
    }

    input:invalid ~ .form-error {
        display: block;
    }
}</code></pre>
<p>Using the <code>:invalid</code> pseudo-class and the <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/General_sibling_combinator">General Sibling CSS Combinator</a>, we can configure all elements of class <code>.form-error</code> to automatically show/hide when their sibling input is valid/invalid.</p>
<p>MVVM Javascript frameworks solve this problem using weighty <code>show</code> and <code>if</code> conditional attributes, which depend on a large amount of scripted overhead with observers and stateful logic. A Pure CSS solution requires one class and ~6 lines of scss, and the performance cost is effectively nothing.</p>
<p>It&#39;s a simple solution, and it doesn&#39;t seem that novel. If we need to run manual validation before an <code>ajax</code> event, we can even leverage the same CSS selectors in our script:</p>
<pre><code class="language-js">function validate() {
    if(document.querySelector(&quot;input:invalid&quot;).length &gt; 0) {
        //Validation failed. One or more inputs has the :invalid pseudo class.
    }
}</code></pre>
<h2 id="novel-sometimes-unwieldy-concepts">Novel, sometimes unwieldy concepts</h2>
<p>I have taken some deep dives into PureCSS components, or components that have 0 javascript in them. My theme toggler button in my navbar was birthed from one of these:</p>
<pre><code class="language-html">&lt;div id=&quot;theme-toggler&quot; class=&quot;pure-menu-item theme-toggler hidden&quot;&gt;
    &lt;div class=&quot;theme-front&quot;&gt;Theme:&lt;/div&gt;
    &lt;input class=&quot;toggler toggler-main&quot; id=&quot;themeToggler&quot; type=&quot;checkbox&quot; /&gt;
    &lt;label class=&quot;toggle-btn&quot; data-tg-off=&quot;Dark&quot; data-tg-on=&quot;Light&quot; for=&quot;themeToggler&quot;&gt;&lt;/label&gt;
&lt;/div&gt;</code></pre>
<p>And the associated scss (I don&#39;t necessarily expect most people to follow this easily, so I&#39;ll summarize afterward): </p>
<pre><code class="language-scss">.toggler-main {
    display: none;

    //Style the adjacent sibling .toggle-btn element
    + .toggle-btn {
        width: 4em;
        height: 2em;
        position: relative;
        display: inline-block;
        cursor: pointer;
        border-radius:2px;
        overflow: hidden;

        &amp;:after, &amp;:before {
            display: inline-block;
            -webkit-transition: all .2s ease;
            transition: all .2s ease;
            width: 100%;
            text-align: center;
            position: absolute;
            line-height: 2em;
            font-weight: bold;
        }

        &amp;:after {
            left: 100%;
            content: attr(data-tg-on);
        }

        &amp;:before {
            left: 0;
            content: attr(data-tg-off);
        }
    }

    //Adjust the adjacent sibling .toggle-btn when the .toggler-main is checked
    &amp;:checked + .toggle-btn {
        &amp;:before {
            left: -100%;
        }
        &amp;:after {
            left: 0;
        }
    }
}</code></pre>
<p>The theme toggling button basically goes through the following steps:</p>
<ol>
<li><p>Put a hidden <code>input[type=&quot;checkbox&quot;]</code> inside a <code>div</code>. Give it an ID and assign it the <code>toggler-main</code> class.</p>
</li>
<li><p>Put a styled <code>label</code> right next to it and give it the <code>toggle-btn</code> class. Set this label&#39;s <code>for</code> attribute to the ID of the <code>toggler-main</code> checkbox from the previous step.</p>
</li>
<li><p>Anytime a label is clicked in HTML, it counts as if we clicked the element it points to with the <code>for</code> attribute&#39;s id. Now, clicking our styled <code>toggle-btn</code> label acts as if we&#39;ve clicked the hidden <code>toggler-main</code> checkbox.</p>
</li>
<li><p><code>input[type=&quot;checkbox&quot;]</code> has an inherent state, which can be tracked using the <code>:checked</code> CSS pseudo class. We use this to control the button display text animation:</p>
<pre><code class="language-scss"> .toggler-main {
     + .toggle-btn {
         overflow: hidden;

         &amp;:after,&amp;:before {
             transition: all .2s ease;
         }

         &amp;:after {
             left: 100%;
             content: attr(data-tg-on);
         }

         &amp;:before {
             left: 0;
             content: attr(data-tg-off);
         }
     }
 }</code></pre>
</li>
</ol>
<p>When the <code>toggler-main</code> checkbox is in its default state (unchecked), &quot;Dark&quot; displays, because it&#39;s the <code>data-tg-off</code> attr&#39;s value.</p>
<pre><code class="language-scss">.toggler-main{
    &amp;:checked + .toggle-btn {
        &amp;:before {
            left: -100%;
        }
        &amp;:after {
            left: 0;
        }
    }
}</code></pre>
<p>When the <code>toggler-main</code> checkbox is checked (when the label is clicked), we push the <code>:before</code> and <code>:after</code> content to the right 100% and &quot;Light&quot; becomes the display value, since it&#39;s the <code>data-tg-on</code> attr&#39;s value (the <code>:after</code> content).</p>
<p>Because overflow on the <code>toggle-btn</code> is hidden, you only see the display value that&#39;s at position <code>left: 0;</code>. Because all transitions are set to <code>.2s ease</code>, the position change associated with the checkbox&#39;s state toggling will trigger a &quot;slide&quot; animation, instead of instantly swapping the values.</p>
<h2 id="is-it-worth-it">Is it worth it?</h2>
<p>For this component, almost certainly not. This code will be a nightmare for a maintenance developer to navigate, because there&#39;s no event-stack giving it any sort of implicit traceability. It depends on hidden html elements, which are prone to confuse maintenance developers, and it doesn&#39;t even successfully execute its primary function yet.</p>
<p>Ultimately, the job of the theme toggler is to actually change the page&#39;s theme, and it needs script to do that. Here&#39;s the <em>actual</em> toggler used in my navbar:</p>
<pre><code class="language-html">&lt;div id=&quot;theme-toggler&quot; class=&quot;pure-menu-item theme-toggler hidden&quot;&gt;
    &lt;div class=&quot;theme-front&quot;&gt;Theme:&lt;/div&gt;
    &lt;input class=&quot;toggler toggler-main&quot; id=&quot;themeToggler&quot; type=&quot;checkbox&quot; onclick=&quot;themeToggle()&quot; /&gt;
    &lt;label class=&quot;toggle-btn&quot; data-tg-off=&quot;Dark&quot; data-tg-on=&quot;Light&quot; for=&quot;themeToggler&quot;&gt;&lt;/label&gt;
&lt;/div&gt;</code></pre>
<p>Note the added <code>onclick</code> function on the <code>toggler-main</code> checkbox, which triggers the <code>themeToggle</code> function we talked about in the <a href="/docs/themeselector/csstheming">CSS3 Theming Document</a>:</p>
<pre><code class="language-js">function themeToggle() {
    if(document.documentElement.getAttribute(&#39;theme&#39;) == &#39;dark&#39;) {
        document.documentElement.setAttribute(&#39;theme&#39;, &#39;light&#39;);
    }
    else {
        document.documentElement.setAttribute(&#39;theme&#39;, &#39;dark&#39;);
    }
}</code></pre>
<p>Almost 100 lines of complex <code>scss</code> code, and it still needed an <code>onclick</code> to do its job. Clearly, the benefits of PureCSS here were not worth the complexity cost.</p>
<h2 id="so-why-did-i-do-it-this-way">So why did I do it this way?</h2>
<p>Frankly, it&#39;s just because this app is showcase of my skills. Pure CSS <em>can</em> be a useful design ideology for what it&#39;s worth. When properly tested and vetted, some basic facets of a web application can be black-boxed inside a PureCSS component like this one to truly optimize their runtime speed. Modern MVVM frameworks depend on costly observers and stateful javascript logic, and many developers underestimate how costly that can be.</p>
<p>When performance is king for certain facets of a web application, eliminating overhead can be important, and I wanted to showcase that I have spent time learning particular optimization strategies such as this one.</p>
