<div id={{loaderId}} style="display: none">
    <div class="loader" data-opacity={{opacity}} data-pos={{pos}}>
        <div class="overlay"></div>
        <div class="lds-facebook"><div></div><div></div><div></div></div>        
    </div>
</div>
