@import '../globals/fonts';

.bs-block-slideshow {   
    position: relative;

    .bs-block {
        
        .bs-block-title {

        }

        .bs-block-content {

        }

        .bs-block-action-list {

            .bs-block-action {

            }
        }
    }

    .trigger-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        height: 4rem;
        width: 100%;

        .fa {
            font-size: $font-size-lg;
        }
    }
}