:root {
    /* NEUTRAL Colors */
    /* 
        Non-dynamic. 
        These stay static regardless of selected theme. 
    */
    --clr-fonts-white: #dfdfdf;
    --clr-fonts-white-alt: #b0b0b0;
    --clr-fonts-white-active: #909090;
    --clr-fonts-white-inactive: #606060;

    --clr-fonts-black: #101010;
    --clr-fonts-black-alt: #303030;
    --clr-fonts-black-active: #505050;
    --clr-fonts-black-inactive: #808080;

    /* DARK theme colors */
    --clr-dk-base: #2f2f2f;
    --clr-dk-lighter: #4d4d4d;
    --clr-dk-alt: #221f1f;
    --clr-dk-border: #4f4f4f;

    --clr-dk-primary: #944dff;
    --clr-dk-primary-alt: #ffffff;
    --clr-dk-primary-active: #ffffff;
    --clr-dk-primary-inactive: #ffffff;

    --clr-dk-accent: #de6aaa;
    --clr-dk-accent-alt: #ffffff;
    --clr-dk-accent-active: #ffffff;
    --clr-dk-accent-inactive: #ffffff;

    /* LIGHT theme colors */
    --clr-lt-base: #ffffff;
    --clr-lt-alt: #f6f6f6;
    --clr-lt-border: #bfbfbf;

    --clr-lt-primary: #2947a3;
    --clr-lt-primary-alt: #ffffff;
    --clr-lt-primary-active: #ffffff;
    --clr-lt-primary-inactive: #ffffff;

    --clr-lt-accent: #de3a6a;
    --clr-lt-accent-alt: #ffffff;
    --clr-lt-accent-active: #ffffff;
    --clr-lt-accent-inactive: #ffffff;


    /* DYNAMIC variables */
    /*
        Dynamic. These are used for most development, and their value shifts with the various themes.
    */
    --clr-bg: var(--clr-dk-base);
    --clr-bg-alt: var(--clr-dk-alt);
    --clr-border: var(--clr-dk-border);

    --clr-fonts-base: var(--clr-fonts-white);
    --clr-fonts-alt: var(--clr-fonts-white-alt);
    --clr-fonts-active: var(--clr-fonts-white-active);
    --clr-fonts-inactive: var(--clr-fonts-white-inactive);

    --clr-primary: var(--clr-dk-primary);
    --clr-accent: var(--clr-dk-accent);
}

:root[theme='dark'] {
    --clr-bg: var(--clr-dk-base);
    --clr-bg-alt: var(--clr-dk-alt);
    --clr-border: var(--clr-dk-border);    

    --clr-fonts-base: var(--clr-fonts-white);
    --clr-fonts-alt: var(--clr-fonts-white-alt);
    --clr-fonts-active: var(--clr-fonts-white-active);
    --clr-fonts-inactive: var(--clr-fonts-white-inactive);

    --clr-primary: var(--clr-dk-primary);
    --clr-accent: var(--clr-dk-accent);
}

:root[theme='light'] {
    --clr-bg: var(--clr-lt-base);
    --clr-bg-alt: var(--clr-lt-alt);
    --clr-border: var(--clr-lt-border);        

    --clr-fonts-base: var(--clr-fonts-black);
    --clr-fonts-alt: var(--clr-fonts-black-alt);
    --clr-fonts-active: var(--clr-fonts-black-active);
    --clr-fonts-inactive: var(--clr-fonts-white-inactive);

    --clr-primary: var(--clr-lt-primary);
    --clr-accent: var(--clr-lt-accent);
}

body {
    background-color: var(--clr-bg);
    color: var(--clr-fonts-base);
}