@import '../globals/fonts';

.bc-block-carousel {   
    position: relative;
    $block-height: 42rem;

    .bc-block {
        z-index: 1;
        height: $block-height;
        $block-content-top-padding: 6em;
        overflow: hidden;

        .bc-block-title {
            position: absolute;
            right: 0;
            width: 100%;
            $title-padding: 1rem;
            text-align: center;

            h1 {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                margin: 0;
                padding-top: 1rem;
                padding-bottom: 1rem;
                z-index: 100;
            }
        }

        .bc-block-content {
            position: relative;
            background: var(--clr-bg-alt);
            padding-top: $block-content-top-padding !important;

            pre, code {
                height: calc(#{$block-height} - #{$block-content-top-padding});
                overflow: hidden;
            }

            .code-slot {
                position: relative;

                &:after {
                    content: '';
                    $col-width: 4rem;
                    position: absolute;
                    top: 0;
                    right: -1rem;
                    bottom: 0;
                    width: $col-width;
                    background: -moz-linear-gradient(left, rgba(var(--clr-bg-alt-rgb),0) 0%, rgba(var(--clr-bg-alt-rgb),1) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(left, rgba(var(--clr-bg-alt-rgb),0) 0%, rgba(var(--clr-bg-alt-rgb),1) 100%); /* FF3.6-15 */
                    background: linear-gradient(to right, rgba(var(--clr-bg-alt-rgb),0) 0%, rgba(var(--clr-bg-alt-rgb),1) 100%); /* FF3.6-15 */
                }    
            }

            @media(max-width: 768px) {
                .code-slot:after {
                    display: none;
                }
            }

            &.fade-container {
                position: relative;
                .fade-out-bottom {
                    $row-height: 8rem;
    
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: $row-height;
                    background: -moz-linear-gradient(top, rgba(var(--clr-bg-alt-rgb),0) 0%, rgba(var(--clr-bg-alt-rgb),1) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top, rgba(var(--clr-bg-alt-rgb),0) 0%, rgba(var(--clr-bg-alt-rgb),1) 100%); /* FF3.6-15 */
                    background: linear-gradient(to bottom, rgba(var(--clr-bg-alt-rgb),0) 0%, rgba(var(--clr-bg-alt-rgb),1) 100%); /* FF3.6-15 */
                }
            }
        }

        @media(min-width: 641px) and (max-width: 768px) {
            $block-content-top-padding: 8em;

            .bc-block-content {
                padding-top: $block-content-top-padding !important;

                pre {
                    height: calc(#{$block-height} - #{$block-content-top-padding});
                }
            }
        }

        .bc-block-action-list {
            position: absolute;
            bottom: 3rem;
            width: 100%;
            text-align: center;
            .bc-block-action-container {
                position: relative;
                bottom: 0;
                width: auto;
                display: inline-block;
                margin: .5rem;
            }
        }

        .bc-block-action-container {
            position: absolute;
            bottom: 3rem;
            width: 100%;
            text-align: center;
            z-index: 10;

            .bc-block-action {
                font-size: $font-size-med;
                box-shadow: 0 0 1rem var(--clr-bg-alt);

                a {
                    color: var(--clr-fonts-base);
                    text-decoration: none;

                    &:hover {
                        color: var(--clr-fonts-base);
                    }
                }
            }
        }

        &.fade-out {
            opacity: 0;
            -webkit-transition: .5s;
            transition: .5s;
        }

        &.pre-fade-in {
            position: absolute;
            opacity: 0;
            display: block !important;
        }

        &.fade-in {
            position: relative;
            opacity: 1;
            transition: .5s;
        }
    }

    .bc-slide-trigger {
        display:none;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index:10;

        cursor: pointer;

        .fa {
            font-size: $font-size-lg;
        }

        &.left-anchor {
            padding: .25rem;
            padding-right: .5rem;
            left: .25rem;
        }

        &.right-anchor {
            padding: .25rem;
            padding-right:.5rem;
            right: .5rem;
        }

        &:hover {
            color: var(--clr-fonts-alt);
        }

        &:active {
            color: var(--clr-fonts-active);
        }
    }

    &:hover {
        .bc-slide-trigger {
            display: inline-block;
        }
    }

    @media(max-width: 1200px) {
        .bc-slide-trigger {
            display: inline-block;
        }
    }

    .bc-nav-dots {
        position: absolute;
        bottom: .75rem;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 10;

        .nav-dot {
            font-size: $font-size-xs;
            color: var(--clr-fonts-inactive);
            margin: 0 .25rem;
            padding: .25rem;
            cursor: pointer;

            &.selected {
                color: var(--clr-fonts-base);
            }

            &:active {
                color: var(--clr-fonts-active);
            }

            &:hover {
                color: var(--clr-fonts-alt);
            }
        }
    }
}