{{!< docsHeader }}
<h1 id="block-carousel">Block Carousel</h1>
<p>A carousel widget/component written using <a href="https://vuejs.org">VueJS</a>. Cycles through code samples with links to the associated code&#39;s documentation.</p>
