{{!< docsHeader }}
<h1 id="block-carousel-under-construction">Block Carousel (Under Construction)</h1>
<p>A carousel widget/component written using <a href="https://vuejs.org">VueJS</a>. Cycles through code samples with links to the associated code&#39;s documentation.
 <br>NOTE: Documentation of this component is my next priority.</p>
