{{!< docsHeader }}
<h1 id="cs-merrell---demo-website-under-construction">CS Merrell - Demo Website (Under Construction)</h1>
<p>A demo website showcasing my professional breadth of front end development skills.
 <br>NOTE: Documentation of the website as a whole is #4 in my list of TODOs for this app, after documenting the 3 highlights featured in the home screen&#39;s block carousel.</p>
