{{!< docsHeader }}
<h1 id="tag-filterview">Tag Filterview</h1>
<p>A tag list with <a href="https://vuejs.org">VueJS</a> enabled active filtering. <br> <br>Used on this demo app to list a subset of development libraries and skills I use in a professional capacity.</p>
