{{!< docsHeader }}
<h1 id="theme-selector">Theme Selector</h1>
<p>A lightweight, CSS3 (virtually no javascript) driven site theme. <br> <br>Can be extended to enable a wider range of themes, and could (relatively easily) be extended even further to quickly support user-customized site theming.</p>
