:root {
    /* NEUTRAL Colors */
    /* 
        Non-dynamic. 
        These stay static regardless of selected theme. 
    */
    --clr-fonts-white: #fcfcfc;
    --clr-fonts-white-alt: #b0b0b0;
    --clr-fonts-white-active: #909090;
    --clr-fonts-white-inactive: #606060;

    --clr-fonts-black: #101010;
    --clr-fonts-black-alt: #303030;
    --clr-fonts-black-active: #505050;
    --clr-fonts-black-inactive: #808080;

    /* DARK theme colors */
    --clr-dk-base: #2f2f2f;
    --clr-dk-base-rgb: 47,47,47;
    --clr-dk-alt: #221f1f;
    --clr-dk-alt-rgb: 34,31,31;
    --clr-dk-hover: #363636;
    --clr-dk-active: #201a1a;
    --clr-dk-input: #3a3a3a;
    --clr-dk-border: #4f4f4f;

    --clr-dk-primary: #ffb3e6;
    --clr-dk-primary-alt: #ff80d5;
    --clr-dk-primary-active: #ff4dc4;
    --clr-dk-primary-inactive: #ffe6f7;

    --clr-dk-accent: #da255b;
    --clr-dk-accent-alt: #c42152;
    --clr-dk-accent-active: #991a40;
    --clr-dk-accent-inactive: #f4bece;
    --clr-dk-accent-font: #ffffff;

    /* LIGHT theme colors */
    --clr-lt-base: #ffffff;
    --clr-lt-base-rgb: 255,255,255;
    --clr-lt-alt: #f6f6f6;
    --clr-lt-alt-rgb: 246,246,246;
    --clr-lt-hover: #dddddd;
    --clr-lt-active: #d9d9d9;
    --clr-lt-input: #f3f3f3;
    --clr-lt-border: #bfbfbf;

    --clr-lt-primary: #ff80d5;
    --clr-lt-primary-alt: #ff4dc4;
    --clr-lt-primary-active: #ff1ab3;
    --clr-lt-primary-inactive: #ffb3e6;

    --clr-lt-accent: #007399;
    --clr-lt-accent-alt: #0099cc;
    --clr-lt-accent-active: #00bfff;
    --clr-lt-accent-inactive: #00394d;
    --clr-lt-accent-font: #ffffff;


    /* DYNAMIC variables */
    /*
        Dynamic. These are used for most development, and their value shifts with the various themes.
    */
    --clr-bg: var(--clr-dk-base);
    --clr-bg-rgb: var(--clr-dk-base-rgb);
    --clr-bg-alt: var(--clr-dk-alt);
    --clr-bg-alt-rgb: var(--clr-dk-alt-rgb);
    --clr-bg-hover: var(--clr-dk-hover);
    --clr-bg-active: var(--clr-dk-active);
    --clr-bg-input: var(--clr-dk-input);
    --clr-border: var(--clr-dk-border);

    --clr-fonts-base: var(--clr-fonts-white);
    --clr-fonts-alt: var(--clr-fonts-white-alt);
    --clr-fonts-active: var(--clr-fonts-white-active);
    --clr-fonts-inactive: var(--clr-fonts-white-inactive);

    --clr-primary: var(--clr-dk-primary);
    --clr-primary-alt: var(--clr-dk-primary-alt);
    --clr-primary-active: var(--clr-dk-primary-active);
    --clr-primary-inactive: var(--clr-dk-primary-inactive);

    --clr-accent: var(--clr-dk-accent);
    --clr-accent-alt: var(--clr-dk-accent-alt);
    --clr-accent-active: var(--clr-dk-accent-active);
    --clr-accent-inactive: var(--clr-dk-accent-inactive);
    --clr-accent-font: var(--clr-dk-accent-font);
}

:root[theme='dark'] {
    --clr-bg: var(--clr-dk-base);
    --clr-bg-rgb: var(--clr-dk-base-rgb);
    --clr-bg-alt: var(--clr-dk-alt);
    --clr-bg-alt-rgb: var(--clr-dk-alt-rgb);
    --clr-bg-hover: var(--clr-dk-hover);
    --clr-bg-active: var(--clr-dk-active);
    --clr-bg-input: var(--clr-dk-input);
    --clr-border: var(--clr-dk-border);    

    --clr-fonts-base: var(--clr-fonts-white);
    --clr-fonts-alt: var(--clr-fonts-white-alt);
    --clr-fonts-active: var(--clr-fonts-white-active);
    --clr-fonts-inactive: var(--clr-fonts-white-inactive);

    --clr-primary: var(--clr-dk-primary);
    --clr-primary-alt: var(--clr-dk-primary-alt);
    --clr-primary-active: var(--clr-dk-primary-active);
    --clr-primary-inactive: var(--clr-dk-primary-inactive);

    --clr-accent: var(--clr-dk-accent);
    --clr-accent-alt: var(--clr-dk-accent-alt);
    --clr-accent-active: var(--clr-dk-accent-active);
    --clr-accent-inactive: var(--clr-dk-accent-inactive);
    --clr-accent-font: var(--clr-dk-accent-font);
}

:root[theme='light'] {
    --clr-bg: var(--clr-lt-base);
    --clr-bg-rgb: var(--clr-lt-base-rgb);
    --clr-bg-alt: var(--clr-lt-alt);
    --clr-bg-alt-rgb: var(--clr-lt-alt-rgb);
    --clr-bg-hover: var(--clr-lt-hover);
    --clr-bg-active: var(--clr-lt-active);
    --clr-bg-input: var(--clr-lt-input);
    --clr-border: var(--clr-lt-border);        

    --clr-fonts-base: var(--clr-fonts-black);
    --clr-fonts-alt: var(--clr-fonts-black-alt);
    --clr-fonts-active: var(--clr-fonts-black-active);
    --clr-fonts-inactive: var(--clr-fonts-white-inactive);

    --clr-primary: var(--clr-lt-primary);
    --clr-primary-alt: var(--clr-lt-primary-alt);
    --clr-primary-active: var(--clr-lt-primary-active);
    --clr-primary-inactive: var(--clr-lt-primary-inactive);

    --clr-accent: var(--clr-lt-accent);
    --clr-accent-alt: var(--clr-lt-accent-alt);
    --clr-accent-active: var(--clr-lt-accent-active);
    --clr-accent-inactive: var(--clr-lt-accent-inactive);
    --clr-accent-font: var(--clr-lt-accent-font);
}

body {
    background-color: var(--clr-bg);
    color: var(--clr-fonts-base);
}