@import './colors';
@import './fonts';
@import './navbar';
@import './footer';
@import './notifications';
@import './highlightThemes';

body {
    min-height: 100%;
}

.main-body {
    min-height: calc(100vh - #{$footer-total-offset} - #{$nav-total-offset} - 3rem);
    margin-bottom: 3rem;
    &.borderless {
        margin-top: 0;
    }
}

pre {
    margin: 0;
}

code {
    padding: 1rem 2rem !important;
    border-radius: 2px;
}

[v-cloak] {
    display: none;
}

a {
    color: var(--clr-accent);

    &:hover {
        color: var(--clr-accent-alt);
    }

    &:active {
        color: var(--clr-accent-active);
    }

    &:visited {
        color: var(--clr-accent-inactive);
    }
}

.pure-button {
    background-color: var(--clr-accent);
    color: var(--clr-accent-font);

    &:hover {
        background-color: var(--clr-accent-alt);
    }

    &:active {
        background-color: var(--clr-accent-active);
    }

    &:disabled {
        background-color: var(--clr-accent-inactive);
    }
}

.hidden {
    display: none;
}