<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- PureCss -->
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" />

    <!-- Webfonts & Icons (Font Awesome) -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">

    <!-- VueJs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>

    <!-- Highlight JS -->
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.3.2/build/highlight.min.js"></script>

    <!-- App-wide CSS -->
    <link rel="stylesheet" href="/static/css/compiled/components/toggle-btn.css" />
    <link rel="stylesheet" href="/static/css/compiled/globals/globals.css" />

    <script>
      window.vms = {};

      Vue.use(hljs.vuePlugin);
    </script>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>

    <div id="topnav" class="navbar">
      <div class="nav-row pure-g">
        <div class="pure-u-1-24 pure-u-md-1-12 pure-u-xl-1-8">
          <!-- Left reserved space -->
        </div>
        <div class="pure-u-11-12 pure-u-md-5-6 pure-u-xl-3-4">
          {{> navbar}}
        </div>
        <div class="pure-u-1-24 pure-u-md-1-12 pure-u-xl-1-8">
          <!-- Right spacing at large screen sizes -->          
        </div>
      </div>
    </div>

    <div class="main-body pure-g">
        <div class="pure-u-1-24 pure-u-md-1-12 pure-u-xl-1-8">
          <!-- Left reserved space -->
        </div>
        <div class="pure-u-11-12 pure-u-md-5-6 pure-u-xl-3-4">
          {{{body}}}
        </div>
        <div class="pure-u-1-24 pure-u-md-1-12 pure-u-xl-1-8">
          <!-- Right reserved space -->
        </div>
    </div>

    <div id="bottomnav" class="footer">
      <hr />
      <div class="pure-g">
        <div class="pure-u-1-24 pure-u-md-1-12 pure-u-xl-1-8">
          <!-- Left reserved space -->
        </div>
        <div class="pure-u-11-12 pure-u-md-5-6 pure-u-xl-3-4">
          <p style="text-align: center">
            <a target="_blank" href="https://github.com/csmerrell/csmerrell2.0"><span class="fab fa-github"></span></a> 
            Check my <a target="_blank" href="https://github.com/csmerrell/csmerrell2.0">github</a> for this website's comprehensive source code.
          </p>
        </div>
        <div class="pure-u-1-24 pure-u-md-1-12 pure-u-xl-1-8">
          <!-- Right reserved space -->
        </div>
      </div>
    </div>

    <script>
      /* Theme Controls */
      if(window.localStorage['csm_theme'] == 'light') {
        document.documentElement.setAttribute('theme', 'light');
        document.getElementById('themeToggler').checked = true;
      } else {
        document.documentElement.setAttribute('theme', 'dark');
        document.getElementById('themeToggler').checked = false;        
      }

      function themeToggle() {
        if(document.documentElement.getAttribute('theme') == 'dark') {
          document.documentElement.setAttribute('theme', 'light');
          document.getElementById('themeToggler').checked = true;
          window.localStorage['csm_theme'] = 'light';
        }
        else {
          document.documentElement.setAttribute('theme', 'dark');
          document.getElementById('themeToggler').checked = false;
          window.localStorage['csm_theme'] = 'dark';          
        }
      }

      /* Hamburger responsive tool */
      function toggleHamburgerMenu() {
        topnav.classList.toggle('open');
        document.getElementById('toggle').classList.toggle('x');
      }
    </script>
  </body>
</html>